.hero
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.socialLink
{
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.persoInfo
{
    line-height: 40px;
}

.image
{
    object-fit: contain;
}
